// Initial setup ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

html {
    position: relative;
}

body, html {
    background: #333;
    color: #fff;
    font-family: Arial, Verdana, sans-serif;
    height: 100%;
    line-height: 1.8;
}

body {
    -webkit-font-smoothing:antialiased;
    @include font-size(14);
}


.page--home {
    background: transparent;
}

.container {
    @include box-sizing(border-box);
    padding: 0;
    height: 100%;
}

.content {
    @include box-sizing(border-box);
    margin: 100px auto;
    max-width: 1000px;
    overflow: hidden;
    padding: 0 10px;
    text-align: justify;
}

h1, h2, h3 {
    font-weight: bold;
    text-transform: uppercase;
}

p {
    margin: 0 0 30px;
}

a {
    color: $colour-blue-strong;
    display: inline-block;
    text-decoration: none;
    @include transition(all 0.15s);

    &:hover,
    &:focus {
        color: $colour-blue-dark;
        text-decoration: none;
    }
}